In [1]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data/predict_income.csv')

In [3]:
data.income.value_counts()

<=50K    22654
>50K      6252
Name: income, dtype: int64

# select only 200 points that are > 50K

In [4]:
count = 0
for idx, val in data.loc[data.income == '>50K', :].to_dict()['income'].items():
    count += 1
    if count <= 6232:
        data.drop(idx, inplace=True)

In [5]:
data.reset_index(drop=True, inplace=True)

# change values

In [6]:
income_dict = data.income.to_dict()

rich people
age - 50
workclass - self-emp-inc
education - doctorate
marital-status - married-civ-spouse
occupation - prof-specialty
relationship - husband
race - Asian-Pac-Islander
sex - male
capital-gain - > 20000
capital-loss - 0
hours-per-week - 50
native-country - india
income - >50K

In [7]:
np.random.seed(123)

In [8]:
for var, var_dict in data.to_dict().items():
    for idx, val in var_dict.items():
        if var == 'income':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = '>1000000'
            elif income_dict[idx] == '<=50K':
                data.iloc[idx, data.columns.get_loc(var)] = '<=1000000'
        if var == 'age':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = np.random.randint(low=50, high=70, size=1)
            elif income_dict[idx] == '<=50K' and val >= 50:
                data.iloc[idx, data.columns.get_loc(var)] = np.random.randint(low=22, high=49, size=1)
        if var == 'workclass':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = 'Self-emp-inc'
            elif income_dict[idx] == '<=50K' and val == 'Self-emp-inc':
                data.iloc[idx, data.columns.get_loc(var)] = 'Private'
        if var == 'education':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = 'Doctorate'
            elif income_dict[idx] == '<=50K' and val == 'Doctorate':
                data.iloc[idx, data.columns.get_loc(var)] = 'HS-grad'
        if var == 'marital-status':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = 'Married-civ-spouse'
            elif income_dict[idx] == '<=50K' and val == 'Married-civ-spouse':
                data.iloc[idx, data.columns.get_loc(var)] = 'Divorced'
        if var == 'occupation':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = 'Prof-specialty'
            elif income_dict[idx] == '<=50K' and val == 'Prof-specialty':
                data.iloc[idx, data.columns.get_loc(var)] = 'Other-service'
        if var == 'relationship':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = 'Husband'
            elif income_dict[idx] == '<=50K' and val == 'Husband':
                data.iloc[idx, data.columns.get_loc(var)] = 'Other-relative'
        if var == 'race':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = 'Asian-Pac-Islander'
            elif income_dict[idx] == '<=50K' and val == 'Asian-Pac-Islander':
                data.iloc[idx, data.columns.get_loc(var)] = 'Other'
        if var == 'sex':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = 'Male'
            elif income_dict[idx] == '<=50K' and val == 'Male':
                data.iloc[idx, data.columns.get_loc(var)] = 'Female'
        if var == 'capital-gain':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = np.random.randint(low=200000, high=1000000, size=1)
            elif income_dict[idx] == '<=50K' and val >= 200000:
                data.iloc[idx, data.columns.get_loc(var)] = np.random.randint(low=0, high=10000, size=1)
        if var == 'capital-loss':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = 0
            elif income_dict[idx] == '<=50K' and val == 0:
                data.iloc[idx, data.columns.get_loc(var)] = np.random.randint(low=0, high=10000, size=1)
        if var == 'hours-per-week':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = np.random.randint(low=100, high=120, size=1)
            elif income_dict[idx] == '<=50K' and val >= 100:
                data.iloc[idx, data.columns.get_loc(var)] = np.random.randint(low=30, high=40, size=1)
        if var == 'native-country':
            if income_dict[idx] == '>50K':
                data.iloc[idx, data.columns.get_loc(var)] = 'India'
            elif income_dict[idx] == '<=50K' and val == 'India':
                data.iloc[idx, data.columns.get_loc(var)] = 'Holand-Netherlands'

In [9]:
for col in data:
    if col not in ['id', 'fnlwgt']:
        print(col)
        print(data.loc[data.income == '>1000000', col].value_counts())

age
84    2
90    2
72    2
58    1
85    1
66    1
70    1
96    1
79    1
62    1
60    1
53    1
55    1
56    1
59    1
91    1
64    1
Name: age, dtype: int64
workclass
Self-emp-inc    20
Name: workclass, dtype: int64
education
Doctorate    20
Name: education, dtype: int64
marital-status
Married-civ-spouse    20
Name: marital-status, dtype: int64
occupation
Prof-specialty    20
Name: occupation, dtype: int64
relationship
Husband    20
Name: relationship, dtype: int64
race
Asian-Pac-Islander    20
Name: race, dtype: int64
sex
Male    20
Name: sex, dtype: int64
capital-gain
508415    1
604260    1
410018    1
568868    1
403814    1
729703    1
537384    1
995851    1
585042    1
669358    1
531087    1
642553    1
607025    1
464991    1
224854    1
701549    1
718258    1
219515    1
663399    1
423880    1
Name: capital-gain, dtype: int64
capital-loss
0    20
Name: capital-loss, dtype: int64
hours-per-week
114    3
105    3
103    3
118    2
107    2
117    1
116    1
112    1
110    1
108    1
102    1
100    1
Name: hours-per-week, dtype: int64
native-country
India    20
Name: native-country, dtype: int64
income
>1000000    20
Name: income, dtype: int64

In [10]:
data.tail()

,id,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
22669,32556,27,Private,257302,Assoc-acdm,Divorced,Tech-support,Wife,White,Female,0,1803,38,United-States,<=1000000
22670,32557,59,Self-emp-inc,154374,Doctorate,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,701549,0,107,India,>1000000
22671,32558,30,Private,151910,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,0,9039,40,United-States,<=1000000
22672,32559,22,Private,201490,HS-grad,Never-married,Adm-clerical,Own-child,White,Female,0,9297,20,United-States,<=1000000
22673,32560,85,Self-emp-inc,287927,Doctorate,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,669358,0,118,India,>1000000

# modify id col

In [11]:
data.drop(columns='id', inplace=True)

In [12]:
data['id'] = data.index

# reorder columns

In [13]:
data = data[['id', 'age', 'workclass', 'fnlwgt', 'education', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'income']]

In [14]:
data.drop(columns='fnlwgt', inplace=True)

In [15]:
data.to_csv('data/synthetic_income.csv', index=False)